<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.address %}
    <div class="call-email">
        {{ site.data.contact.address }}
    </div>
    <br>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    <br>
    {% endif %}
    <iframe style="filter: invert(90%)" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.9460424845743!2d-2.6009327!3d51.459147099999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48718ddbb45db46b%3A0xd2a989d111d954c5!2sSchool+of+Biological+Sciences!5e0!3m2!1sen!2sus!4v1437275416625" width="100%" height="650" frameborder="0" style="border:0"></iframe>
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Contact</a>
      </div>
    {% endif %}
</div>
