.page-projects-single {
  .team-image {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 30px;
    }
  }
  .content {
    > p {
      &:first-of-type {
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 40px;
        font-weight: regular;
        color: rgb(104, 104, 104);
      }
    }
  }
}
