---
title: Impact
layout: default
bodyClass: page-impact
---

<!--<div class="pt-md-6 pb-md-3 container pb-2 pt-4">
    <div class="row justify-content-start">
        <h1>Impact</h1>
        <div class="content">
            <p></p>
        </div>
    </div>
</div>-->

<div class="pt-md-6 pb-md-6 container pb-4 pt-4">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="contact contact-single">
                <h1 class="title">{{page.title}}</h1>
            </div>
        </div>
    </div>
</div>

{% if site.data.impact %}
<div class="pt-md-6 pb-md-3 container pb-2 pt-4">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <h2>Publications</h2>
            {% for publication in site.data.impact %}
            {% if publication.type == "publication" %}
                <div class="content">
                    <p>
                        <b><a href="https://doi.org/{{publication.doi}}">{{publication.title}}</a></b><br>
                        {{publication.authors}}<br>
                        <i>{{publication.journal}}</i> <b>{{publication.volume}}</b>, {{publication.number}}, {{publication.year}}
                    </p>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if site.data.impact %}
<div class="strip strip-grey">
    <div class="pt-md-6 pb-md-3 container pb-2 pt-4">
        <div class="row justify-content-start">
            <div class="col-12 col-md-8">
                <h2>Talks</h2>
                {% for talk in site.data.impact %}
                {% if talk.type == "talk" %}
                    <div class="content">
                        <p>
                            <b><a href="{{talk.url}}">{{talk.title}}</a></b>, {{talk.event}}, {{talk.location}}, {{talk.date}} (<b>{{talk.speaker}}</b>)
                        </p>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if site.data.impact %}
    <div class="pt-md-6 pb-md-3 container pb-2 pt-4">
        <div class="row justify-content-start">
            <div class="col-12 col-md-8">
                <h2>Posters</h2>
                {% for poster in site.data.impact %}
                {% if poster.type == "poster" %}
                    <div class="content">
                        <p>
                            <b><a href="{{poster.url}}">{{poster.title}}</a></b>, {{poster.event}}, {{poster.location}}, {{poster.date}} (<b>{{poster.speaker}}</b>)
                        </p>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% if site.data.impact %}
<div class="strip strip-grey">
    <div class="pt-md-6 pb-md-3 container pb-2 pt-4">
        <div class="row justify-content-start">
            <div class="col-12 col-md-8">
                <h2>Outreach and Public Engagement</h2>
                {% for outreach in site.data.impact %}
                {% if outreach.type == "outreach" %}
                    <div class="content">
                        <p>
                            <b><a href="{{outreach.url}}">{{outreach.title}}</a></b>, {{outreach.event}}, {{outreach.location}}, {{outreach.date}} (<b>{{outreach.speaker}}</b>)
                        </p>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if site.data.impact %}
<div class="pt-md-6 pb-md-3 container pb-2 pt-4">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <h2>Funding</h2>
            {% for grant in site.data.impact %}
            {% if grant.type == "grant" %}
                <div class="content">
                    <p>
                        <b><a href="{{grant.url}}">{{grant.name}}</a></b>, {{grant.funder}}, {{grant.id}}, {{grant.date}} ({{grant.value}}; {{grant.investigators}})
                    </p>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
