---
layout: default
bodyClass: page-news-list
---

<div class="pt-md-6 pb-md-3 container pb-2 pt-4">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="blog blog-single">
                {{ content }}
            </div>
        </div>
    </div>
</div>

<div class="container pb-3 pt-1">
    <div class="row">
        {% assign news_items = site.news | sort: "date" | reverse %}
        {% for item in news_items %}
        <div class="col-12 col-md-6 mb-3">
            <div class="blog blog-summary">
                <div class="blog-content">
                    <p class="news-subheading">
                        {{ item.type }}{% if item.subheading %} · {{ item.subheading }}{% else %} · {{ item.date | date: "%-d %B %Y" }}{% endif %}
                    </p>
                    <h2 class="blog-title">
                        <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    </h2>
                    <p>
                        {{ item.content | markdownify | strip_html | truncate: 100 }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
