---
layout: default
bodyClass: page-projects-list
---

<div class="pt-md-6 pb-md-3 container pb-2 pt-4">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="project project-single">
                {{ content }}
            </div>
        </div>
    </div>
</div>

<div class="container pb-3 pt-1">
    <div class="row">
        {% assign weighted_projects = site.projects | sort: "weight" %} {% for
        project in weighted_projects %}
        <div class="col-12 col-md-6 mb-3">
            <div class="project project-summary">
                <div class="project-content">
                    <h2 class="project-title">
                        <a href="{{ project.url | relative_url }}"
                            >{{ project.title }}</a
                        >
                    </h2>
                    {% if project.team %}
                        {% for person in site.team %}
                        {{ person.title }}
                        {% if project.team contains person.title %}
                            Here {{ person.title }}
                            <img
                                alt="{{ person.title }}"
                                class="small-round-image img-fluid mb-1"
                                src="{{ person.image | relative_url }}"
                            />
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                    <p>
                        {{ project.content | markdownify | strip_html |
                        truncate: 100 }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
