---
layout: default
bodyClass: page-projects-list
---

<div class="pt-md-6 pb-md-3 container pb-2 pt-4">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="project project-single">
                {{ content }}
            </div>
        </div>
    </div>
</div>

<div class="container pb-3 pt-1">
    <div class="row">
        {% assign weighted_projects = site.projects | sort: "weight" %} {% for
        project in weighted_projects %}
        <div class="col-12 col-md-6 mb-3">
            <div class="project project-summary">
                <div class="project-content">
                    <h2 class="project-title">
                        <a href="{{ project.url | relative_url }}"
                            >{{ project.title }}</a
                        >
                    </h2>
                    {{ for person_key in project.team }}
                    {% assign person = site.team | where:"title", person_key | first %}
                        {{ person.title }}
                        <img
                            alt="{{ person.title }}"
                            class="img-fluid mb-2"
                            src="{{ person.image | relative_url }}"
                        />
                    {{ endfor }}
                    <p>
                        {{ project.content | markdownify | strip_html |
                        truncate: 100 }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
