---
layout: default
bodyClass: page-projects-list
---

<div class="pt-md-10 pb-md-10 container pb-6 pt-6">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="contact contact-single">
                <h1 class="title">{{page.title}}</h1>
                <div class="content mt-4">{{content}}</div>
            </div>
        </div>
    </div>
</div>

<div class="container pb-6 pt-6">
    <div class="row">
        {% assign weighted_projects = site.projects | sort: "weight" %} {% for
        project in weighted_projects %}
        <div class="col-12 col-md-6 mb-3">
            <div class="project project-summary">
                <div class="project-content">
                    <h2 class="project-title">
                        <a href="{{ project.url | relative_url }}"
                            >{{ project.title }}</a
                        >
                    </h2>
                    <p>
                        {{ project.content | markdownify | strip_html |
                        truncate: 100 }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
