---
layout: default
bodyClass: page-team-list
---

<div class="pt-md-6 pb-md-3 container pb-2 pt-4">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="team team-single">
                {{ content }}
            </div>
        </div>
    </div>
</div>

<div class="container pb-2 pt-1">
    <div class="row">
        {% assign investigator_teams = site.team | where: "investigator", true |
        sort: "weight" %} {% for team in investigator_teams %}
        <div class="col-12 col-md-6 mb-2">
            <div class="team team-summary team-summary-large">
                {% if team.image %}
                <div class="team-image">
                    <img
                        alt="{{ team.title }}"
                        class="img-fluid mb-2"
                        src="{{ team.image | relative_url }}"
                    />
                </div>
                {% endif %}
                <div class="team-meta">
                    <h2 class="team-name">
                        <a href="{{ team.url | relative_url }}"
                            >{{ team.title }}</a
                        >
                    </h2>
                    <p class="team-description">{{ team.jobtitle }}</p>
                    {% if team.website %}
                    <a target="_blank" href="{{ team.website }}">Website</a>
                    {% endif %}
                </div>
                <div class="team-content">
                    {{ team.content | truncate: 120 }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row pb-6 pt-6">
        {% assign teams = site.team | where: "investigator", empty | sort:
        "weight" %} {% for team in teams %}
        <div class="col-12 col-md-4 mb-3">
            <div class="team team-summary">
                {% if team.image %}
                <div class="team-image">
                    <img
                        alt="{{ team.title }}"
                        class="img-fluid mb-2"
                        src="{{ team.image | relative_url }}"
                    />
                </div>
                {% endif %}
                <div class="team-meta">
                    <h2 class="team-name">
                        <a href="{{ team.url | relative_url }}"
                            >{{ team.title }}</a
                        >
                    </h2>
                    <p class="team-description">{{ team.jobtitle }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if site.data.institutions %}
<div class="strip strip-grey">
    <div class="pt-md-6 pb-md-4 container pb-3 pt-4">
        <div class="row justify-content-center">
            {% for institution in site.data.institutions %}
            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <div class="institution">
                    {% if institution.image %}
                    <div class="feature-image">
                        <img
                            alt="{{ institution.title }} logo"
                            src="{{ institution.image | relative_url }}"
                        />
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if site.data.partners %}
<div class="strip strip-grey">
    <div class="pt-md-2 pb-md-2 container pb-2 pt-2">
        <div class="row justify-content-center">
            {% for partner in site.data.partners %}
            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <div class="partner">
                    {% if partner.image %}
                    <div class="partner">
                        <img
                            alt="{{ partner.title }} logo"
                            src="{{ partner.image | relative_url }}"
                        />
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
