---
layout: default
---

<div class="pt-md-6 pb-md-6 container pb-4 pt-4">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            {% if page.image %}
            <div class="col-12 col-md-4 pt-1 pb-1">
                <img
                    alt="{{
                    page.title
                    }}"
                    class="intro-image" style="width:100%; height:auto"
                    src="{{ page.image | relURL }}"
                />
            </div>
            {% endif %}
            <div class="team team-single">
                <h1 class="title">{{page.title}}</h1>
                <div class="content">{{content}}</div>
            </div>
        </div>
    </div>
</div>
